h1 {
    color: #216298;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #cccccc;
    color: #000000;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: inherit;
    align-items: inherit;
    list-style: none;
}
